snowflake
snowflake-ml-python
langchain
streamlit
streamlit-card
python-dotenv
beautifulsoup4
html2markdown
lxml
streamlit-lottie
trulens-core 
trulens-providers-cortex 
trulens-connectors-snowflake 
snowflake-sqlalchemy
